*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

.hero{
    display: grid;
    grid-template-columns: auto-fill;
}
.box1,.box5{
    background-color: red;
}


.box2, .box6{
    background-color: rgb(31, 139, 206);
}


.box3, .box7{
    background-color: yellow;
}


.box4, .box8{
    background-color: purple;
}
